<nav class="navbar navbar-expand bg-dark sticky-top border-bottom" data-bs-theme="dark" th:fragment="header">
    <div class="container d-flex justify-content-between">
        <ul class="navbar-nav d-flex w-100 justify-content-evenly">
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="bi bi-cpu"></i>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/home">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/auto_segmentation">Автоматическая обработка</a></li>
            <li class="nav-item"><a class="nav-link" href="/manual_segmentation">Ручная обработка</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="bi bi-building"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

