<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Segmentation App - Автоматичекая обработка</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/file-saver"></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip/dist/jszip.min.js"></script>
    <script src="/js/save_selected_images.js"></script>
    <style>
        #body {
            background: linear-gradient(cyan, lightgoldenrodyellow);
        }

        #button {
            font-size: 34px;
        }

        .checkbox {
            width: 7%;
            height: 7%;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header.html :: header}"></div>
<div class="d-flex justify-content-center align-items-center min-vh-100 flex-column" id="body">
    <h1 class="mt-4">Выберите понравившиеся изображения. Мы предоставляем несколько вариантов.</h1>
    <div class="container mt-5">
        <div class="col g-4" th:each="images_var_k, stat_processed : ${images_processed_base64}">
            <div class="card h-100 p-3 g-4" th:each="image_base_64, stat_var_k : ${images_var_k}">
                <label class="form-check-label position-relative d-block w-100 h-100">
                    <input class="position-absolute top-0 start-0 z-index-2 form-check-input m-2 checkbox"
                           th:data-base64="${image_base_64}"
                           th:value="${stat_processed.index} + ',' + ${stat_var_k.index}" type="checkbox"/>
                    <img alt="Image Preview"
                         class="object-fit-cover w-100 rounded img-thumbnail shadow-sm"
                         th:src="'data:image/png;base64,' + ${image_base_64}"/>
                </label>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg my-4" id="button" onclick="saveSelectedImages()" type="button">
        Сохранить
    </button>
</div>
</body>
</html>